button {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  border: none;
  background-color: aqua;
  transition: background-color 0.3s ease scale 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 255, 140);
}

button:focus {
  background-color: rgba(131, 192, 233, 0.7);
  scale: 0.9;
}
