/* 
*   Kevin Powell
*   https://youtu.be/cCAtD_BAHNw 
*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark light; /* Default dark */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}
